<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="createorder">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Orden</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quote">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Cotizacion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>