<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-back-button slot="start" text=""></ion-back-button>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionChange)="onSearchTerm($event)" placeholder="Buscar..."></ion-searchbar>
  <ion-card *ngFor="let product of productList">
    <ion-card-header>
      <ion-card-title>
        <ion-text color="primary">
          {{product.name}}
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-badge>$ {{(product.regular_price *1).toLocaleString('de-DE')}}</ion-badge>
      <p>Stock: {{(product.stock_quantity * 1).toLocaleString('de-DE')}}</p>
      <ion-icon style="font-size: 30px; color: #2b9ac9; width: 30px;" name="remove-circle" (click)="decrement(product)">
      </ion-icon>
      <ion-input style="display: inline-grid; position: absolute; width: 26px; margin-top: -3px;" type="number"
        [(ngModel)]="product.count"></ion-input>
      <ion-icon style="font-size: 30px; color: #2b9ac9; padding-left: 34px;" name="add-circle"
        (click)="increment(product)"></ion-icon>
      <ion-button expand="full" (click)="setProductToOrder(product)">Agregar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>