<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-back-button slot="start" text=""></ion-back-button>
    <ion-title>Crear Orden</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngIf="haveCustomer()">
      <ion-col>
        <ion-label>
          <h2>Cliente: {{ order.getCustomerData().first_name + ' ' +  order.getCustomerData().last_name }}</h2>
          <p>{{document}}</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="haveCustomer() == true" shape="" (click)="goToCustomerList()">Cambiar Cliente</ion-button>
        <ion-button *ngIf="haveCustomer() == false" expand="full" shape="" (click)="goToCustomerList()">Agregar Cliente
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="title-order">
      <ion-col size="12">
        <h2>Información de la orden</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <p>Subtotal: ${{ subtotal }}</p>
      </ion-col>
      <ion-col col-6>
        <p>Productos: {{ order.getOrderUnitTotal().toLocaleString('de-DE')}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p *ngIf="reteica">Reteica:
          ${{ reteicaTotal }}
        </p>
        <p *ngIf="retefuente">Retefuente:
          ${{ retefuenteTotal }}</p>
        <p>Descuentos:
          %{{ couponDiscount }} -  ${{ discountValue }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <p>IVA:
          ${{ ivaTotal.toLocaleString('de-DE') }}</p>
      </ion-col>
      <ion-col col-6>
        <p>Total:
          ${{ total }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let product of order.getProductList()">
        <ion-card>
          <ion-label>
            <h3>{{product.name}}</h3>
            <p>Cost.U.: ${{(product.regular_price * 1).toLocaleString('de-DE')}}</p>
            <p>Cantidad: {{(product.totalCount * 1).toLocaleString('de-DE')}}</p>
            <p>Total: ${{(product.totalCount * product.regular_price).toLocaleString('de-DE')}}</p>
            <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="removeCustom(product.id)">
              <ion-fab-button>
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="haveCustomer() == true && order.getProductList().length > 0" expand="full" shape=""
          (click)="createOrder()">Guardar Orden</ion-button>
        <ion-button *ngIf="haveCustomer() == true && order.getProductList().length > 0" expand="full" shape=""
          (click)="prepareToPrint()">Imprimir</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>