<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-back-button slot="start" text=""></ion-back-button>
    <ion-title>Clientes cotizacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let customer of customerList" (click)="setCustomerToOrder(customer)">
      <ion-label>
        <h3>{{ customer.billing.first_name + ' ' + customer.billing.last_name }}</h3>
        <p>{{customer.cc}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>