<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>El portillo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4">
        <ion-card (click)="goToProductList()">
          <ion-icon name="cube"></ion-icon>
          <p>Productos</p>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card (click)="goToCreateOrder()">
          <ion-icon name="cart"></ion-icon>
          <p>Crear Orden</p>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card (click)="goToQuote()">
          <ion-icon name="apps"></ion-icon>
          <p>Cotizar</p>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="6" (click)="goToCustomerList()">
        <ion-card>
          <ion-icon name="body"></ion-icon>
          <p>Clientes</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>